

.col-3-5 {
	width: 30%;
  }

div.categorical_list{
	font-size: 1em;
	background-color: white;
	text-align: left;
	padding: 8px 15px;
	border: 1px solid #000;
	border-radius: 10px;
}

aside h2 {
	font-size: 1em;
	background-color: #EBEBEB;
	text-align: left;
	padding: 8px 15px;
	border: 1px solid #000;
	border-radius: 10px;
}
aside ul {
	list-style: none;
	padding-left: 0;
}
aside ul a:hover {
	text-decoration: none;
}

.card {
	margin-left:10px;
	margin-bottom: 20px;
	text-align: center;
	border: none;
	transition: all 0.5s;
	box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
}

.card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.card-footer {
	margin-bottom: 20px;
	text-align: left;
	border: none;
	transition: all 0.5s;
}

.card_button:hover {
	background-color: green;
}


p.card-body {
	padding-bottom : auto;
	margin-top : auto;
	text-align: bottom center;
} 



.right {
	text-align: center;
	color: #fff; 
	padding: 360px 0;
	background-color: rgba(100, 116, 217, 0.2);
}
.right p{
	font-size: 20px; 
}

footer {
	margin-top: 25px;
	padding: 20px;
	color: #fff;
	text-align: center;
}

h4.price {
	color:red;
}